@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
  }

  

header  {
   position: relative;
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    background:url('images/video/loop-light-on-red-fabric-curtain-AI\ Denoising-1280x720\ \(online-video-cutter.com\).mp4'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: 1s linear;
  }


 
  
  

   #logo_thumbnail {
    width:calc(150px  +  (300 - 10)  *  (100vw  -  320px)  /  (1920  -  320));
  } 

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


 header::before { 
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, transparent, #000); 
    bottom: 0;
    z-index: 1 ;
    overflow: hidden;
}



header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, transparent, #000); 
    top: 0;
    z-index: 2; 
    overflow: hidden;
} 

header nav {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: 99999999999;
    top: 0;
}


/* this is fake */

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  color: #fff;
  background-color: #000;
} */





/* .menu a {
  text-decoration: none;
  color: #fff;
  padding: 0 20px;
  line-height: 60px;
  font-size: 1.2em;
} */

/* @media (max-width: 992px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  
  .menu {
    display: none;
  }
} */

.openMenu {
  display: none;
}


.menu-icon {
  display: none;
}


@media screen and (max-width: 761px) {
  
      #logo_thumbnail {
        display: none;
      }

    nav .mainMenu {
      position: fixed;
      inset: 0;
      height: 100vh;
      /* z-index: 10; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* background: #000; */
      transition: top 1s ease;
      display: none;
    }
  
    header nav {
      position: relative;
      width: 100%;
      display: flex;
      /* align-items: center; */
      justify-content: space-between;
      z-index: 99999999999;
      background-color: rgb(53, 53, 53);
      color: #fff;
      height: 60px;
  }


  nav .mainMenu li a:hover {
    color: #e91e63;
    font-size: 14px;
  }



  nav .openMenu {
    display: block;
    cursor: pointer;
    margin-left: 20px;
    font-size: 2em;
    z-index: 10;
  }

 nav  .menu-icon {
    display: flex;
    margin: 2em;
  }

  nav .menu-icon i {
    display: inline-block;
    margin: 1em;
    cursor: pointer;
    font-size: 17px;
  }

  .menu-icon i:hover {
    color: #e91e63;
    transition: 0.2s ease-in;
  }



  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
  }
  

} 

  
  




/* this is fake */



/* .section-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */



header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


header nav ul li {
    padding: 15px 50px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(255, 243, 218);
    /* color: yellow; */
    /* color: rgb(255, 174, 0); */
    font-weight: 500;
    font-size: 14px;
    transition: 0.3s linear;
}

header nav ul li a:hover {
    color: rgb( 255, 255, 255, 0.7);
}


header nav ul li:nth-child(4) a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: 40px; */
}







.animae {
  position: absolute;
  width: 100%;
  height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
     /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center;  */
    /* margin-inline: auto; */
    z-index: 9;
    transition: 1s ease-in-out;
    transform: translateY(150px);
    /* margin-bottom: 900px; */
    overflow: hidden;
    /* z-index: 10; */
}

.animae_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
}







.animae span::before {
  content: '';
  animation-name: animae;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-delay: 4s;
  /* transition: 2s ease-in-out; */
  margin-inline: auto;
}


@keyframes animae {
  0% {
    content: 'entertainment for';
    text-transform: uppercase;
    color: #e91e63;
    font-size: 1.5em;
  }

  20% {
    content: 'weddings';
    text-transform: uppercase;
    color: #e91e63;
    font-size: 1.5em;
  }

  40% {
    content: 'parties';
    text-transform: uppercase;
    color: #e91e63;
    font-size: 1.5em;
  }

  60% {
    content: 'advertisements';
    text-transform: uppercase;
    color: #e91e63;
    font-size: 1.5em;
  }

  80% {
    content: 'outreaches and ';
    text-transform: uppercase;
    color: #e91e63;
  }

  100% {
    content: 'awareness programs';
    text-transform: uppercase;
    color: #e91e63;
    font-size: 1.5em;
  }
}

.animae h2 {
    font-size: 5em;
    color: rgba(255, 211, 116, 0.816);
    text-transform: uppercase;
    font-size: calc(3vw + 16px); 
  }
  

.animae p {
    font-size: 1em;
    margin-top: 1em;
    color: rgb(254, 239, 197);
}

.animae i {
    font-size: 30px;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.8s linear;
}
.animae i:hover {
    transform: rotateX(360deg) rotate(360deg);
}

.animae button {
  font-size: 1.4em;
  padding: 0.5em 3em;
  border: 1px solid #e91e63;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  margin-top: 1em;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.animae button:hover {
  background: rgba(255, 211, 116, 0.2);
  
}

/* header video {
    position: absolute;
    width: 120%;
    height: 110%;
    left: -100px;
    top: 0;
    
} */

.explore_bx {
    position: relative;
    width: 80%;
    height: 100%;
    border: 1px solid auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 1s linear;
    margin-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(191, 0, 38, 0.14);
    overflow: hidden;
    z-index: 1;
    padding: 3em 0;
  }


.explore_bx p {
    width: 400px;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    width: 70%;
    color: rgb(219, 214, 203);
    margin-top: 1em;
    margin-bottom: 2em;
}

.explore_bx h2 {
  font-size: 4em;
  color: rgb(191, 0, 38);
  font-weight: 600;
  text-transform: uppercase;
}


.explore_bx .explore_cards {
    width: 100%;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 30px; */
    /* margin-bottom: 10em; */
}


.explore_bx .explore_cards .exp_card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 380px;
    margin: 10px 10px 0px 10px;
    transition: 0.3s linear;
    color: #fff;
  }

.explore_bx .explore_cards .exp_card::before,
.explore_bx .explore_cards .exp_card::before {
  position: absolute;
  content: ''; 
  inset: 0;
  background: rgba(0, 0, 0, 0.188);
}

.explore_bx .explore_cards .exp_card:hover img {
  transform: scale(1.03);
  transition: 0.5s ease-in-out;
}

.explore_bx .explore_cards .exp_card img {
  transform: scale(1);
  display: block;
  width: 100%;
  height: auto;
}



.explore_bx .explore_cards .exp_card:hover {
    box-shadow: 5px 5px 5px rgb(255, 255, 255, 0.2);
}

.explore_bx .explore_cards .exp_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}



.explore_bx .explore_cards .content {
    position: absolute;
    width: 100%;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.explore_bx .explore_cards .content h4:nth-child(2){
  margin: 15px;
  color: #ffa801;
}


.explore_bx .explore_cards .content h4{
    line-height: 10px;
    font-size: 20px;
    color: crimson;
    font-weight: bold;
    text-transform: uppercase;
}

.explore_bx .explore_cards .content .title {
  color: rgb(255, 255, 255);
}



.explore_bx .explore_cards .content button {
  background: #ffa801;
  transition: 0.4s ease-in-out;
}

.explore_bx .explore_cards .content button:hover {
  color: #ffa801;
  background: #fff;
}



.explore_bx button {
    margin: 30px 0px;
    padding: 15px 20px;
    border-radius: none;
    font-weight: 900;
    transition: 0.3s linear;
    cursor: pointer;
    border: none ;
}

.explore_bx button:hover {
    background: gray;
    color: #fff;
}



#about {
  width: 100%;
  color: #fff;
  margin-inline: auto; 
  background-image: url(/images/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  padding: 5em 0;
}


  
   .about::after {
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.123);
    z-index: -1;
}  





  .about_pic {
    position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 37.25%;
  height: 0;
}  


.about_pic .img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



  #youtube {
   position: absolute;
   inset: 0;
   width: 80%;
   height: 100%;
   margin-inline: auto;
   z-index: 9;
} 



.purpose {
  /* position: relative; */
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #8a8a8a2f;
  overflow: hidden;
}

/* .purpose::after {
  position: absolute;
  content: '';
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #8a8a8a2f;
} */



.purpose_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  
      background-color: #8a8a8a2f;
}



.purpose_cards {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 5em; 
}


 .card {
  position: relative;
  width: 20em;
  height: 17em;
  border: 1px solid rgba(119, 119, 119, 0.45);
  margin: 3em 1.5em;
  border-radius: 15px;
  cursor: pointer;
  color: #dcdcdc;
  /* z-index: 1; */
  background-color: #5b5b5b ; 
  overflow: hidden;

} 

.card_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.card_wrapper .centerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 .card_one h1 {
  text-align: center;
}



.margin {
  margin: 7px 0;
}

.push {
  overflow: hidden;
  text-overflow: ellipsis;
}
  

.card_heading h1 {
  font-size: 1em;
  font-weight: 500;
  /* z-index: 1000; */
}



.card_info p{
  font-size: 13.5px;
  text-overflow: ellipsis;
  overflow: hidden;
}




.purpose_heading h1 {
  font-weight: 400;
  margin: 50px 0;
  z-index: 1000;
  opacity: 100;
}

#main_heading {
  text-align: center;
  /* font-size: 5em; */
  color: #ffa801;
}


/* .card_one .margin h1{
  transform: translateY(12px);
}

.card_two .margin {
  transform: translateY(8px);
}

.card_three .margin {
  transform: translateY(-28px);
}

.card_eight .margin h1{
  transform: translateY(-24px);
} */

 .slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: #f4f9ffe8;
  padding: 2em 0em;
  overflow: hidden;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 90%;
  margin-inline: auto;
  overflow: hidden;
}

 .carousel .carousel_container {
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}



 .slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 7px;
  perspective: 100px;
  cursor: pointer;

}
 

  .slide  img {
  width: 350px;
  height: 350px;
  transition: transform 1s ease;
  animation: scroll 40s linear infinite;
}  



 .slide img:hover {
  transform: translateZ(20px);
  transition: transform 0.02s;
  animation: scroll 40s linear infinite;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(calc(-250px*9));
  }

}  

.form_wrapper {
   width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #2d2d2d;
  padding: 7em 0;
}
 


/* #form{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1em 0;
  overflow: hidden;
  border: 2px solid crimson;
} */

.form_wrapper h1 {
  color: crimson;
  font-size: 3em;
  text-transform: capitalize;
  padding-bottom: 1.5em;
}


.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color:#eaf6ff15;
  padding: 1.8em 0;
  border-radius: 7px;

}

 .form_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form_container_wrapper {
  max-width: 90%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}

.form_container_wrapper .logo {
  align-items: center;
}



@media screen and (max-width: 1579px) {
  .gap {
    margin: 1em;
  }
  }




#form {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  border-radius: 15px;
  flex-wrap: wrap;
} 



#form input{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  outline: none;
  border: none;
  font-size: 16px;
  margin-bottom: 40px;
  color: #fff;
  background:  transparent;
  border-bottom: 2px solid #fff;
}


 #form  input::placeholder{
  font-size: 14px;
} 
 
#form  textarea{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000000f;
  width: 50%;
  height: 14vh;
  font-size: calc();
  border: 2px solid rgb(199, 199, 199);
  color: #fff;
  border-top: none;
  border-right: none;
  border-left: none ;
  transform: translateY(-2em);
  flex-wrap: wrap;
  font-size: 14px;
  
}

#form  textarea::placeholder {
  color: rgb(203, 199, 199);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}


textarea::-webkit-scrollbar{
  width: 1em;
}

textarea::-webkit-scrollbar-thumb{
  background-color: rgba(255, 252, 252, 0.713);
}

#form  button{
  background: transparent;
  color: #d0d0d0;
  border: 1px solid white;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  transition: 0.3s ease-in-out;
  flex-wrap: wrap;
  /* transform: translateY(8em); */
}

#form  button:hover {
  background-color: rgba(0, 0, 0, 0.46);

}

#form   #space {
  margin: 0 10px;
}


#form  #button:hover{
  opacity: 0.7;
  background: crimson;
  color: rgb(255, 255, 255);
}
.flexing_container_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.flexing_container {
  padding: 3em 0;
}


.logo_background {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logo_background_wrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.logo_background_wrapper img {
  border-radius: 5px;
}




 .slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255,255,255,1)) 0%, rgba(255,255,255,0);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
} 

 .slider::before {
  left: 0;
  top: 0;
} 

 .slider::after {
  right: -2px;
  top: 0;
  transform: rotate(180deg);
}   


 /* #contact{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contact__container {
  padding-bottom: 3rem;
}

.contact__description {
  text-align: center;
  color: rgb(198, 198, 198);
  text-align: start;
  width: 300px;
}

.contact__content {
  row-gap: 0.75rem;
  color: #fff;
}


.section__title-center {
  font-size: 45px;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
  text-align: start;
}


.contact__content .button {
  text-decoration: none;
  color: crimson;
  padding: 10px 30px;
  background-color: yellow;
  border-radius: 20px;
  font-size: 14px;
}


.contact__address {
  font-size: 13px;
  font-weight: 300;
  color: #fff;
}

.contact__information {
  font-weight: initial;
  color: #fff;
}

.container {
    max-width: 70%;
    margin-inline: auto;
  }
  
  .grid {
    width: 100%;
    height: 25em;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  } 
 */

   #google {
    width: 100%;
    height: 80vh;
    border: 0;
  } 

  
  #goole:before,
  #google::after {
    position: absolute;
    content: '';
    inset: 0;
    background: rgba(0, 0, 0, 0.188);
  }  


  .container{
    width: 100%;
    height: 100%;

  }
  .row{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  ul{
    list-style: none;
  }
  .footer{
    background-color: #24262b;
    padding: 70px 0;
  }
  .footer-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px; 
  }


  .footer-col .extend{
    margin-left: -60px;
  }
   .extend_two{
    margin-left: -60px;
  }


  .footer-col ul li:not(:last-child){
    margin-bottom: 2em;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }

  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  @media screen and (max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media screen and (max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
   

  @media screen and (max-width: 950px){
    .form_container_wrapper {
      max-width: 90%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-inline: auto;
    }


    #form  button{
      background: transparent;
      color: #d0d0d0;
      border: 1px solid white;
      font-weight: 500;
      font-size: 20px;
      cursor: pointer;
      width: 70px;
      height: 30px;
      font-size: 14px;
      text-align: center;
      transition: 0.3s ease-in-out;
      /* flex-wrap: wrap; */
      /* transform: translateY(8em); */
    }
    

  }

  

#footer {
  width: 100%;
  height: 100%;
}

 .footer_padding {
  padding: 4em 0;
} 

#footer p {
    text-align: center;
    color: rgb(183, 179, 179);
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen  and (max-width: 1920px) {
  .explore_bx h2 {
    font-size:calc(30px  +  (45 - 20)  *  (100vw  -  320px)  /  (1920  -  320));
  }

  #main_heading {
    font-size:calc(40px  +  (45 - 20)  *  (100vw  -  320px)  /  (1920  -  320));

  }
  .animae span {
    font-size:calc(0.7em  +  (13.5 - 0.2)  *  (100vw  -  320px)  /  (1920  -  320));
  }

  .animae button {
    font-size:calc(0.8em  +  (11.4 - 0.2)  *  (100vw  -  320px)  /  (1920  -  320));
  }

} 


@media screen  and (max-width: 1501px) {

  header {
    height: 80vh;
}
header nav ul li {
  padding: 15px 40px;
}

.explore_bx {
    width: 80%;
}

#footer {
    width: 80%;
}

#form  button{
  background: transparent;
  color: #d0d0d0;
  border: 1px solid white;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  transition: 0.3s ease-in-out;
  flex-wrap: wrap;
  transform: translateY( -1em);
} 

#form form textarea{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000000f;
  width: 100%;
  height: 19vh;
  font-size: calc();
  border: 2px solid rgb(199, 199, 199);
  color: #fff;
  border-top: none;
  border-right: none;
  border-left: none ;
  /* transform: translateY(-2em); */
  flex-wrap: wrap;
  font-size: 14px;
  
}

header {
  height: 90vh;
  /* width: 100%; */
}
.card_info p{
  text-overflow: hidden;
  overflow: hidden;
}

}



@media screen  and (max-width: 1373px){
  #form  button{
    background: transparent;
    color: #d0d0d0;
    border: 1px solid white;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    transition: 0.3s ease-in-out;
    flex-wrap: wrap;
    transform: translateY( -1em);
  }

  header nav ul li {
    padding: 15px 33px;
}
  

  header {
    height: 80vh;
    
  } 
  

 


  #form form textarea{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0000000f;
    width: 100%;
    height: 16vh;
    border: 2px solid rgb(199, 199, 199);
    color: #fff;
    border-top: none;
    border-right: none;
    border-left: none ;
    flex-wrap: wrap;
    font-size: 14px;
    
  }
  
  
}


@media screen  and (max-width: 1367px) {

  header {
    height: 80vh;
  }
 
}






@media screen  and (max-width: 1313px) {

    
    header {
        height: 80vh;
    }
    .explore_bx {
        width: 90%;
    }

    #footer {
        width: 90%;
    }

    #form  button{
      background: transparent;
      color: #d0d0d0;
      border: 1px solid white;
      font-weight: 500;
      font-size: 20px;
      cursor: pointer;
      width: 70px;
      height: 30px;
      font-size: 14px;
      text-align: center;
      transition: 0.3s ease-in-out;
      flex-wrap: wrap;
      transform: translateY( -1em);
    } 
    
    #form form textarea{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #0000000f;
      width: 100%;
      height: 16vh;
      font-size: calc();
      border: 2px solid rgb(199, 199, 199);
      color: #fff;
      border-top: none;
      border-right: none;
      border-left: none ;
      /* transform: translateY(-2em); */
      flex-wrap: wrap;
      font-size: 14px;
      
    }

    header nav ul li {
      padding: 15px 30px;
  }
   
    
}


@media screen  and (max-width: 1223px) {
  header {
    height: 80vh;
}

#form  button{
  background: transparent;
  color: #d0d0d0;
  border: 1px solid white;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  transition: 0.3s ease-in-out;
  flex-wrap: wrap;
  transform: translateY( -1em);
} 

#form form textarea{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000000f;
  width: 100%;
  height: 16vh;
  font-size: calc();
  border: 2px solid rgb(199, 199, 199);
  color: #fff;
  border-top: none;
  border-right: none;
  border-left: none ;
  /* transform: translateY(-2em); */
  flex-wrap: wrap;
  font-size: 14px;
  
}

header nav ul li {
  padding: 15px 23px;
}

}

@media screen  and (max-width: 1000px) {
  .form_container {
    flex-wrap: wrap;
  }

  #form  button{
    background: transparent;
    color: #d0d0d0;
    border: 1px solid white;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    transition: 0.3s ease-in-out;
    flex-wrap: wrap;
    transform: translateY( -1em);
  } 

  #form form textarea{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0000000f;
    width: 100%;
    height: 16vh;
    font-size: calc();
    border: 2px solid rgb(199, 199, 199);
    color: #fff;
    border-top: none;
    border-right: none;
    border-left: none ;
    /* transform: translateY(-2em); */
    flex-wrap: wrap;
    font-size: 14px;
    
  }
  header{
    height: 80vh;
  }

  header nav ul li {
    padding: 15px 20px;
}
 
  #logo_thumbnail {
    width: 150px;
  } 
}




@media screen  and (max-width: 786px) {
    
   
    header {
        height: 70vh
    }
    .explore_bx {
        width: 100%;
    } 

    #footer {
        width: 100%;
    }
    #form  button{
      background: transparent;
      color: #d0d0d0;
      border: 1px solid white;
      font-weight: 500;
      font-size: 20px;
      cursor: pointer;
      width: 70px;
      height: 30px;
      font-size: 14px;
      text-align: center;
      transition: 0.3s ease-in-out;
      flex-wrap: wrap;
      transform: translateY( -1em);
    } 
  
    #form form textarea{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #0000000f;
      width: 100%;
      height: 19vh;
      font-size: calc();
      border: 2px solid rgb(199, 199, 199);
      color: #fff;
      border-top: none;
      border-right: none;
      border-left: none ;
      /* transform: translateY(-2em); */
      flex-wrap: wrap;
      font-size: 14px;
      
    }
    
    #logo_thumbnail {
      width: 150px;
    } 

    header nav ul li {
      padding: 15px 15px;
  }
   
    
   
}

@media screen  and (max-width: 766px) {
    
    header {
        height: 70vh;
    }

    #form  button{
      background: transparent;
      color: #d0d0d0;
      border: 1px solid white;
      font-weight: 500;
      font-size: 20px;
      cursor: pointer;
      width: 70px;
      height: 30px;
      font-size: 14px;
      text-align: center;
      transition: 0.3s ease-in-out;
      flex-wrap: wrap;
      transform: translateY( -1em);
    } 
  
    #form form textarea{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #0000000f;
      width: 100%;
      height: 19vh;
      font-size: calc();
      border: 2px solid rgb(199, 199, 199);
      color: #fff;
      border-top: none;
      border-right: none;
      border-left: none ;
      /* transform: translateY(-2em); */
      flex-wrap: wrap;
      font-size: 14px;
      
    }
    #logo_thumbnail {
      width: 150px;
    } 

    
    
}



@media screen  and (max-width: 600px) {
   
    header {
        height: 70vh;
    }

    .contact__container,
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }

    

    
  
    #form form textarea{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #0000000f;
      width: 100%;
      height: 19vh;
      font-size: calc();
      border: 2px solid rgb(199, 199, 199);
      color: #fff;
      border-top: none;
      border-right: none;
      border-left: none ;
      /* transform: translateY(-2em); */
      flex-wrap: wrap;
      font-size: 14px;
      
    }
    #logo_thumbnail {
      width: 150px;
    } 


    header nav ul li {
      padding: 15px 35px;
  }
    
    
}


@media screen  and (max-width: 568px) {
    
    
    header nav ul li {
        padding: 15px 10px;
    }

    header section h1 {
        font-size: 25px;
    }

   
    #form form textarea{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #0000000f;
      width: 100%;
      height: 19vh;
      font-size: calc();
      border: 2px solid rgb(199, 199, 199);
      color: #fff;
      border-top: none;
      border-right: none;
      border-left: none ;
      /* transform: translateY(-2em); */
      flex-wrap: wrap;
      font-size: 14px;
      
    }
    #logo_thumbnail {
      width: 150px;
    } 
    
    
    

}

@media screen  and (max-width: 500px) {
  header {
    height: 80vh;
}




#form form textarea{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000000f;
  width: 100%;
  height: 19vh;
  font-size: calc();
  border: 2px solid rgb(199, 199, 199);
  color: #fff;
  border-top: none;
  border-right: none;
  border-left: none ;
  flex-wrap: wrap;
  font-size: 14px;
  
}

#logo_thumbnail {
  width: 120px;
} 

}


@media screen  and (max-width: 472px) {

    .svg__img {
        width: 100%;
      }
      
      

    header section h1 {
        font-size: 30px;
    }

    header nav {
      height: 60px;
    }

    header {
      height: 80vh;
  }

 

  #form form textarea{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0000000f;
    width: 100%;
    height: 19vh;
    font-size: calc();
    border: 2px solid rgb(199, 199, 199);
    color: #fff;
    border-top: none;
    border-right: none;
    border-left: none ;
    flex-wrap: wrap;
    font-size: 14px;
    
  }

  #logo_thumbnail {
    width: 120px;
  } 
  
  
}


@media screen  and (max-width: 440px) {
    .svg__img {
        width: 100%;
      }
      .section {
        padding: 3.5rem 0 1rem;
      }
      .services__img {
        width: 100px;
      }
      .app__buttons {
        grid-template-columns: max-content;
      }

    .explore_bx p {
        font-size: 9px;
        width: 300px;
    }

    .explore_bx:nth-child(3) .explore_cards .exp_card {
        width: 300px;
    }
    
    .explore_bx:nth-child(3) .explore_cards .exp_card img {
        height: 180px;
    }
    header {
      height: 70vh;
  }

  
  #form form textarea{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0000000f;
    width: 100%;
    height: 19vh;
    font-size: calc();
    border: 2px solid rgb(199, 199, 199);
    color: #fff;
    border-top: none;
    border-right: none;
    border-left: none ;
    flex-wrap: wrap;
    font-size: 14px;
    
  }
  
  #logo_thumbnail {
    width: 120px;
  } 
  
} 


@media screen  and (max-width: 360px) {
    .svg__img {
        width: 100%;
      }
      .section {
        padding: 3.5rem 0 1rem;
      }

      header {
        height: 80vh;
        width: 100%;
    }

    .animae  h2{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 1em;
      
    }
      
      .app__buttons {
        grid-template-columns: max-content;
      }
      #logo_thumbnail {
        width: 120px;
      } 
      
}

 @media screen  and (max-width: 320px) {
  header {
    height: 80vh;
    width: 100%;
  }


  .animae  h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
    
  }
  #logo_thumbnail {
    width: 120px;
  } 
  
} 




 @media screen  and (max-width: 300px) {
  header {
    height: 70vh;
  }

  .animae  h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
    
  }
  #logo_thumbnail {
    width: 120px;
  } 
  
} 









